.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  min-height: 100vh;
  background-color: #F6F6F6;
  gap: 20px;
  position: static;
}

.title 
{
  font-size: 2rem;
  margin-bottom: 20px;
}

.board 
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin-top: 25px;
}

.timer
{
  background-color: #EDEDED;
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #373745;
  position: relative;
  padding: 15px;
  border: none;
  top: 60px;
}

.current-player
{
  background-color: #373745;
  border-radius: 12px;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  margin-top: 20px;
}

.cell 
{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cell.circle 
{
  background-image: url('./assets/zero.png');
  background-size: cover;
  background-position: center;
  background-size: 178px;
}

.cell.cross 
{
  background-image: url('./assets/cross.png');
  background-size: cover;
  background-position: center;
  background-size: 175px;
}

/* Затенение фона */
.modal-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Модальное окно */
.modal 
{
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px; /* Увеличенная ширина */
  height: 400px; /* Автоматическая высота, чтобы не обрезать контент */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Равномерное распределение элементов */
}

/* Картинка трофея */
.modal-trophy 
{
  background-image: url('./assets/trophy.png');
  background-size: contain; /* Убедимся, что картинка не обрезается */
  background-repeat: no-repeat;
  background-position: center;
  width: 200px; /* Увеличена пропорционально размеру модального окна */
  height: 200px; /* Обязательно задать высоту */
  margin: 0; /* Убираем все внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем любые рамки */
  outline: none; /* Убираем выделение, если есть */
}

/* Заголовок */
.modal h2 
{
  margin: 0;
  font-size: 1.8rem; /* Чуть больше для крупного окна */
  color: #373745;
  margin-bottom: 20px; /* Отступ от картинки */
}

/* Кнопки */
.modal-buttons 
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  gap: 12px;
  width: 100%; /* Занимаем всю ширину модального окна */
}

.modal-buttons button 
{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  flex: 1; /* Равномерное распределение кнопок */
  margin: 0 5px; /* Расстояние между кнопками */
}

.modal-new-game 
{
  background-color: #60C2AA;
  color: white;
}

.modal-exit
{
  background-color: #f5f5f5;
  color: #373745;
}

.winning-x 
{
  background-color: #CFEDE6;
}

.winning-o 
{
  background-color: #F3BBD0;
}

.navigation 
{
  background-color: #ffffff; /* Цвет фона */
  padding: 10px 10px; /* Внутренние отступы */
  display: flex; /* Гибкий контейнер */
  justify-content:space-between; /* Распределение элементов: слева логотип, справа меню */
  align-items: center; /* Центрирование элементов по вертикали */
  width: 100%; /* Занимает всю ширину страницы */
  position: fixed; /* Фиксируем навигацию сверху */
  top: 0; /* Привязываем к верхнему краю */
  left: 0; /* Привязываем к левому краю */
  z-index: 1000; /* Навигация поверх других элементов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center; /* Выровнять элементы списка по центру */
  align-items: center; /* Выровнять элементы по вертикали */
  gap: 20px; /* Расстояние между элементами */
  margin: 0;
  padding: 0;
  flex: 1; /* Занимает всё доступное пространство */
}

.nav-list li 
{
  font-size: 1.4rem;
}

.nav-list a 
{
  text-decoration: none; /* Убираем подчеркивание */
  color: #373745;
  font-weight: bold; /* Чтобы текст выглядел выразительнее */
  padding: 10px 10px; /* Добавляем отступы для визуальной читаемости */
  display: inline-block; /* Позволяет обернуть текст в "кнопку" */
  transition: all 0.3s ease; /* Плавный переход всех эффектов */
  border-radius: 33px; /* Делаем текст кругом при наведении */
}

.nav-list a:hover 
{
  background-color: #60C2AA; 
  color: white; /* Белый цвет текста */
  border: none;
}

.logo 
{
  background-image: url('./assets/logo.png'); /* Укажите путь к вашему изображению */
  background-size: contain; /* Убедитесь, что изображение сохраняет свои пропорции */
  background-repeat: no-repeat; /* Избегаем повторения */
  background-position: center; /* Центрируем изображение */
  height: 60px; /* Задайте высоту логотипа */
  width: 80px; /* Задайте ширину логотипа */
  margin-right: 20px; /* Добавьте отступ от остальных элементов */
}

.menu 
{
  display: flex;
  align-items: center; /* Центрировать элементы по горизонтали */
  height: 100vh; /* Занимать всю высоту экрана */
  padding: 20px; /* Отступы внутри меню */
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.menu-title 
{
  font-size: 2.5rem; /* Увеличенный текст заголовка */
  color: #373745; /* Цвет текста */
  margin: 0; /* Убрать отступы вокруг заголовка */
  margin-bottom: 25px;
}

.menu-footer 
{
  width: 100%; /* Растянуть на всю ширину */
  display: flex;
  justify-content: center; /* Центрировать кнопку */
}

.start-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #60C2AA; /* Цвет кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (max-width: 768px) 
{
  .board 
  {
    grid-template-columns: repeat(3, 1fr); /* Сетка поля */
    margin: 0 auto; /* Центруем */
    margin-top: 25px;
  }

  .cell 
  {
    width: 120px;
    height: 120px;
  }

  .navigation 
  {
    flex-direction: column; /* Навигация в колонку */
    padding: 10px;
  }

  .start-button 
  {
    font-size: 1rem; /* Меньший текст кнопки */
    padding: 8px 12px;
  }

  .cell.circle 
  {
    background-image: url('./assets/zero.png');
    background-size: cover;
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .cell.cross 
  {
    background-image: url('./assets/cross.png');
    background-size: cover;
    background-position: center;
    background-size: 103px;
    background-repeat: no-repeat;
  }
}