body 
{
  font-family: "Roboto", serif;
  margin: 0;
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: #F6F6F6;
  gap: 20px;
  position: static;
}

.title 
{
  font-size: 2rem;
  margin-bottom: 20px;
}

.board
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin-top: 25px;
}

.timer
{
  background-color: #EDEDED;
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #373745;
  position: relative;
  padding: 15px;
  border: none;
  top: 60px;
  border-radius: 10px;
  font-weight:bold;
}

.current-player 
{
  background-color: #373745;
  border-radius: 12px;
  min-width: 300px; /* Минимальная ширина */
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  margin-top: 20px;
  padding: 0 20px; /* Отступы внутри контейнера */
  white-space: nowrap; /* Предотвращает перенос текста */
  overflow: hidden; /* Прячем излишки */
}

.cell 
{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cell.circle 
{
  background-image: url('./assets/zero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 178px;
}

.cell.cross 
{
  background-image: url('./assets/cross.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175px;
}

/* Затенение фона */
.modal-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202322CC;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Модальное окно */
.modal 
{
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 300px;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Равномерное распределение элементов */
}

/* Картинка трофея */
.modal-trophy 
{
  background-image: url('./assets/trophy.svg');
  background-size: contain; /* Убедимся, что картинка не обрезается */
  background-repeat: no-repeat;
  background-position: center;
  width: 200px; /* Увеличена пропорционально размеру модального окна */
  height: 200px; /* Обязательно задать высоту */
  margin: 0; /* Убираем все внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем любые рамки */
  outline: none; /* Убираем выделение, если есть */
}

.handshake
{
  background-image: url('./assets/handshake.png');
  background-size: contain; /* Убедимся, что картинка не обрезается */
  background-repeat: no-repeat;
  background-position: center;
  width: 200px; /* Увеличена пропорционально размеру модального окна */
  height: 200px; /* Обязательно задать высоту */
  margin: 0; /* Убираем все внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем любые рамки */
  outline: none; /* Убираем выделение, если есть */
}

/* Заголовок */
.modal h2 
{
  margin: 0;
  font-size: 1.8rem; /* Чуть больше для крупного окна */
  color: #373745;
  margin-bottom: 20px; /* Отступ от картинки */
}

/* Кнопки */
.modal-buttons 
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  gap: 12px;
  width: 100%; /* Занимаем всю ширину модального окна */
}

.modal-buttons button 
{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  flex: 1; /* Равномерное распределение кнопок */
  margin: 0 5px; /* Расстояние между кнопками */
}

.modal-new-game 
{
  background-color: #60C2AA;
  color: white;
}

.modal-exit
{
  background-color: #f5f5f5;
  color: #373745;
}

.winning-x 
{
  background-color: #CFEDE6;
}

.winning-o 
{
  background-color: #F3BBD0;
}

.navigation 
{
  background-color: #ffffff; /* Цвет фона */
  padding: 10px 10px; /* Внутренние отступы */
  display: flex; /* Гибкий контейнер */
  justify-content: space-between; /* Распределение элементов: слева логотип, справа меню */
  align-items: center; /* Центрирование элементов по вертикали */
  width: 100%; /* Занимает всю ширину страницы */
  position: fixed; /* Фиксируем навигацию сверху */
  top: 0; /* Привязываем к верхнему краю */
  left: 0; /* Привязываем к левому краю */
  z-index: 1000; /* Навигация поверх других элементов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  height: 45px;
  border: none;
  border-radius: 15px;
}

.nav-list 
{
  list-style: none;
  display: flex;
  justify-content: center; /* Выровнять элементы списка по центру */
  align-items: center; /* Выровнять элементы по вертикали */
  gap: 20px; /* Расстояние между элементами */
  margin: 0;
  padding: 0;
  flex: 1; /* Занимает всё доступное пространство */
}

.nav-list li 
{
  font-size: 1.2rem;
  padding: 10px 15px; /* Добавляем отступы */
  border-radius: 55px; /* Скругляем края */
  font-weight: bold; /* Жирный шрифт */
  transition: all 0.3s ease; /* Анимация */
  cursor: default; /* Убираем указатель */
}

.nav-list li.active 
{
  background-color: #60C2AA; /* Зелёный фон для активного элемента */
  color: white; /* Белый цвет текста */
}

.nav-list li:not(.active) 
{
  color: #373745; /* Цвет текста для неактивных элементов */
}

.logo 
{
  background-image: url('./assets/logo.svg'); /* Укажите путь к вашему изображению */
  background-size: contain; /* Убедитесь, что изображение сохраняет свои пропорции */
  background-repeat: no-repeat; /* Избегаем повторения */
  background-position: center; /* Центрируем изображение */
  height: 60px; /* Задайте высоту логотипа */
  width: 80px; /* Задайте ширину логотипа */
  margin-right: 20px; /* Добавьте отступ от остальных элементов */
  left: 0; /*привязка к левому краю*/
}

.menu 
{
  display: flex;
  align-items: center; /* Центрировать элементы по горизонтали */
  height: 100vh; /* Занимать всю высоту экрана */
  padding: 20px; /* Отступы внутри меню */
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.menu-title 
{
  font-size: 2.5rem; /* Увеличенный текст заголовка */
  color: #373745; /* Цвет текста */
  margin: 0; /* Убрать отступы вокруг заголовка */
  margin-bottom: 25px;
}

.menu-footer 
{
  width: 100%; /* Растянуть на всю ширину */
  display: flex;
  justify-content: center; /* Центрировать кнопку */
}

.start-button 
{
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #60C2AA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.tint 
{
  color: #373745; /* Цвет текста */
  margin: 20px 0 0; /* Отступ сверху и обнуление боковых отступов */
  text-align: center; /* Центрирование текста */
  font-size: 1rem; /* Уменьшенный шрифт для подсказки */
  font-weight:bold;
}

.player-info-container 
{
  position: absolute; /* Для закрепления в определённой части экрана */
  top: 140px; /* Отступ сверху */
  left: 30px; /* Отступ слева */
  min-width: 250px; /* Минимальная ширина */
  background-color: #ffffff; /* Белый фон */
  border: none;
  border-radius: 10px; /* Закруглённые углы */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  padding: 15px; /* Внутренние отступы */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-info-title 
{
  font-weight: bold; /* Жирный шрифт */
  margin-bottom: 40px; /* Отступ снизу */
  color: #373745; /* Цвет текста */
  margin: 0;
}

.player-info 
{
  flex-grow: 1; /* Занимает оставшееся пространство */
  display: flex; /* Flex для списка игроков */
  flex-direction: column; /* Располагаем по вертикали */
  justify-content: center; /* Центрируем содержимое */
}

.player-info p 
{
  margin: 0; /* Убираем внешние отступы */
  font-size: 15px; /* Размер текста */
  display: flex; /* Используем flex для выравнивания */
  align-items: center;
}

.player-o 
{
  background-image: url('./assets/littleO.svg'); /* Указываем изображение */ 
  background-size: contain; /* Изображение сохраняет свои пропорции */
  background-repeat: no-repeat; /* Избегаем повторения */
  background-position: center; /* Центрируем изображение */
  height: 45px; /* Высота элемента */
  width: 25px; /* Ширина элемента */
  border: none; /* Убираем границы */
  outline: none; /* Убираем стандартную обводку браузера */
  margin-right: 7px;
}

.player-x 
{
  background-image: url('./assets/littleX.svg'); /* Указываем изображение */
  background-size: contain; /* Изображение сохраняет свои пропорции */
  background-repeat: no-repeat; /* Избегаем повторения */
  background-position: center; /* Центрируем изображение */
  height: 45px; /* Высота элемента */
  width: 25px; /* Ширина элемента */
  border: none; /* Убираем границы */
  outline: none; /* Убираем стандартную обводку браузера */
  margin-right: 7px;
  image-rendering: crisp-edges;
}

.player-symbol-img 
{
  height: 25px;
  width: 25px;
  object-fit: contain; /* Сохраняет пропорции */
  margin-right: 7px; /* Отступ от имени игрока */
}

.player-container
{
  display: flex; /* Включаем flexbox */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}

.exitgame 
{
  background-color: transparent; /* Убираем любой фоновый цвет */
  background-image: url('./assets/exit.svg'); /* Указываем изображение */
  background-repeat: no-repeat; /* Избегаем повторения */
  background-position: center; /* Центрируем изображение */
  height: 50px; /* Высота элемента */
  width: 30px; /* Ширина элемента */
  margin-right: 20px; /* Отступ справа */
  cursor: pointer; /* Курсор при наведении */
  border: none; /* Убираем границы */
  outline: none; /* Убираем стандартную обводку браузера */
}

.input-group 
{
  display: flex;
  flex-direction: column; /* Размещаем метку и поле ввода в столбик */
  margin-bottom: 20px; /* Отступ между группами */
  align-items: center;
}

.label-text 
{
  font-size: 1rem; /* Размер текста */
  color: #373745; /* Цвет текста */
  font-weight: bold; /* Жирный текст */
  margin-bottom: 5px; /* Отступ от текста до поля ввода */
}

.styled-input 
{
  border: 1px solid #DCDCDF; /* Серый контур */
  border-radius: 10px; /* Закругленные углы */
  padding: 10px; /* Внутренние отступы */
  font-size: 1rem; /* Размер текста */
  width: 60%; /* Поле растягивается на всю ширину контейнера */
}

.styled-input:focus 
{
  border-color: #60C2AA; /* Цвет обводки при фокусе */
  outline: none; /* Убираем стандартную обводку браузера */
}

.error-message 
{
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 1270px)
{
  .board 
  {
    grid-template-columns: repeat(3, 1fr); /* Сетка поля */
    margin: 0 auto; /* Центруем */
    margin-top: 180px;
    width: 100%; /* Делаем поле адаптивным */
    max-width: 360px; /* Ограничиваем ширину */
  }

  .cell 
  {
    width: 120px;
    height: 120px;
  }

  .timer 
  {
    top: 200px; /* Опускаем таймер чуть ниже блока игроков */
  }

  .navigation 
  {
    justify-content: space-between; /* Лого и меню с краёв */
    padding: 10px;
    height: auto; /* Уменьшаем высоту */
    height: 35px;
  }

  .logo 
  {
    height: 40px; /* Уменьшаем размер лого */
    width: 60px;
  }

  .nav-list 
  {
    display: none; /* Скрываем остальные кнопки */
  }

  .player-info-container 
  {
    position: absolute;
    top: 80px; /* Поднимаем блок вверх */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Устанавливаем адаптивную ширину */
    max-width: 300px; /* Ограничиваем максимальную ширину */
    min-height: 50px; /* Уменьшаем высоту */
    padding: 10px; /* Уменьшаем отступы */
    font-size: 1rem; /* Снижаем размер шрифта */
    background-color: rgba(255, 255, 255, 0.9); /* Легкий фон для читаемости */
    border-radius: 10px; /* Добавляем закругление */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  }

  .start-button 
  {
    font-size: 1rem; /* Меньший текст кнопки */
    padding: 8px 12px;
  }

  .cell.circle 
  {
    background-image: url('./assets/zero.svg');
    background-size: cover;
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .cell.cross 
  {
    background-image: url('./assets/cross.svg');
    background-size: cover;
    background-position: center;
    background-size: 103px;
    background-repeat: no-repeat;
  }
}